.container-fluid{
    background-image: url();
}

.carousel-indicators{

    
}
.carousel{

    background-image: url();

}

.carousel-caption{
    top: 0;
    left: 0;
    margin-left: -700px;
    margin-top: 200px;
}